<!DOCTYPE html>
<html>
  <head>
    <title>Encryption Final Project</title>
    <link type="text/css" rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>Encryption</h1>

    <h1></h1> 
    <form method="POST" action="/dogs">
      <p><input type="text" placeholder ="Name"></p>
      <p><input type="text" placeholder ="Age"></p>
      <input type="submit"> 
          
   </body>
  