<!DOCTYPE html>
<html>
  <head>
    <title>Encryption Final Project</title>
    <link type="text/css" rel="stylesheet" href="css/style_encryption.css">
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  </head>
  
  <body>
     <img src="http://media.giphy.com/media/dbRBclOWZ8QIU/giphy.gif" style="width:100;height:100;">
    <h1>What do you want your code to be in?</h1>
         
      <li><a href="/letters">LETTERS</a></li>
      <li><a href="/numbers">NUMBERS</a></li>
      <li><a href="/symbols">SYMBOLS</li>
    <li><a href="/decode">DECODE YOUR MESSAGE</a></li>
   
    
  </body> 
    
            
            </html>
          

  