<!DOCTYPE html>
<html>
  <head>
    <img src="http://media.giphy.com/media/dbRBclOWZ8QIU/giphy.gif" style="width:100;height:100;">
    <title>Encrypt Your Messages</title>
    <link type="text/css" rel="stylesheet" href="css/style_encryption.css">
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  </head>
  <body>
    

    <h1>PUT YOUR MESSAGE IN</h1> 
      <div id="hello">
      <form method="POST" action="/endpage1">
        <input type="text" name="string" placeholder ="Enter your message">

        <input type="submit"> 
      </form>
    </div>
          
  </body>
</html>